aiohttp==3.6.2
altgraph==0.17
appdirs==1.4.4
APScheduler==3.6.3
asgiref==3.2.10
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
Django==3.1.1
django-background-tasks==1.2.5
django-compat==1.0.15
django-meta==1.7.0
django-simple-open-graph==0.1
docx==0.2.4
docxtpl==0.10.0
fake-useragent==0.1.11
future==0.18.2
google-api-core==1.22.2
google-api-python-client==1.12.3
google-auth==1.22.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
Jinja2==2.11.2
lxml==4.5.2
MarkupSafe==1.1.1
multidict==4.7.6
parse==1.18.0
pefile==2019.4.18
Pillow==7.2.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyee==7.0.3
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pyppeteer==0.2.2
pyquery==1.4.1
python-docx==0.8.10
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.24.0
requests-html==0.10.0
rsa==4.6
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
tqdm==4.48.2
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.25.10
w3lib==1.22.0
websockets==8.1
whitenoise==5.2.0
yarl==1.6.0